@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #000000;
  background-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading-font {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  @apply mx-auto w-full max-w-6xl px-6;
}

